<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active" data-slide-bg="0">
                <div class="col-md-6">
                    <h3><%= @threeSubjects.first.title %></h3>
                    <p><%= @threeSubjects.first.description %></p>
                </div>
                <div class="col-md-6">
                    <img  src="http://www.w3.org/html/logo/downloads/HTML5_1Color_Black.png" height="340" align="center" class="center" />
                </div>
            </div>
            <!-- End Item -->
            <div class="item" data-slide-bg="1">
                <img src="http://placehold.it/1200x400/e67e22/ffffff&text=Projects">
                <div class="carousel-caption">
                    <h3><%= @threeSubjects.second.title %></h3>
                    <p><%= @threeSubjects.second.description %></p>
                </div>
            </div>
            <!-- End Item -->
            <div class="item" data-slide-bg="2">
                <img src="http://placehold.it/1200x400/2980b9/ffffff&text=Portfolio">
                <div class="carousel-caption">
                    <h3><%= @threeSubjects.third.title %></h3>
                    <p><%= @threeSubjects.third.description %></p>
                </div>
            </div>
            <!-- End Item -->
            <div class="item" data-slide-bg="3">
                <img src="http://placehold.it/1200x400/8e44ad/ffffff&text=Services">
                <div class="carousel-caption">
                    <h3><%= @threeSubjects.fourth.description %></h3>
                    <p><%= @threeSubjects.fourth.description %></p>
                </div>
            </div>
            <!-- End Item -->
        </div>
        <!-- End Carousel Inner -->
        <ul class="nav nav-pills nav-justified">
            <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#"><%= @threeSubjects.first.title %></a></li>
            <li data-target="#myCarousel" data-slide-to="1"><a href="#"><%= @threeSubjects.second.title %></a></li>
            <li data-target="#myCarousel" data-slide-to="2"><a href="#"><%= @threeSubjects.third.title %></a></li>
            <li data-target="#myCarousel" data-slide-to="3"><a href="#"><%= @threeSubjects.fourth.title %></a></li>
        </ul>
    </div>
    <!-- End Carousel -->

<script type="text/javascript">
    $(document).ready( function() {
    $('#myCarousel').carousel({
        interval:   4000
  });
  
  var clickEvent = false;
  $('#myCarousel').on('click', '.nav a', function() {
      clickEvent = true;
      $('.nav li').removeClass('active');
      $(this).parent().addClass('active');    
  }).on('slid.bs.carousel', function(e) {
    if(!clickEvent) {
      var count = $('.nav').children().length -1;
      var current = $('.nav li.active');
      current.removeClass('active').next().addClass('active');
      var id = parseInt(current.data('slide-to'));
      if(count == id) {
        $('.nav li').first().addClass('active');  
      }
    }
    clickEvent = false;
  });
});
</script>

    <div class="subject-card">
        <% @subjects.each_slice(3) do |sliced_subjects| %>
            <div class="row">
                <% sliced_subjects.each do |subject| %>
                    <figure class="snip1492">
                      <img src="<%= subject.image %>" alt="" />
                      <figcaption>
                        <h3><a href="/subjects/<%= subject.id %>"><%= subject.title %></a></h3>
                        <p><%= subject.description %></p>
                        <hr>
                        <small>Started on <%= subject.modified_date %></small>
                        
                    </figure>   
                <% end %>
            </div>
        <% end %>  
    </div>

</div>