<section id="login">
    <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="form-wrap">
                <h1>Login</h1>
                    <div role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                      <%= form_for(resource, id: "login-form", autocomplete:"off", as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <%= f.text_field :login, autofocus: true, id:"email", class:"form-control", placeholder:"somebody@example.com"%>
                        </div>

                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <%= f.password_field :password, autocomplete: "off", id:"key", class: "form-control", placeholder: "Password" %>
                        </div>
                        <div class="checkbox">
                            <span class="character-checkbox" onclick="showPassword()"></span>
                            <span class="label">Show password</span>
                        </div>

                        <div class="actions">
                          <%= f.submit "Log in", id: "btn-login", class: "btn btn-custom btn-lg btn-block"%>
                        </div>
                      <% end %>
                    </div>
                    <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>
                    <%= render "devise/shared/links" %>
                    <hr>
              </div>
        </div> <!-- /.col-xs-12 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Page © - 2017</p>
                <p>Powered by <strong><a href="http://www.facebook.com/tavo.qiqe.lucero" target="_blank">LucDev</a></strong></p>
            </div>
        </div>
    </div>
</footer>