<%= @results if @results.any? %>
<%= "No match found" unless @results.any? %>

<div class="container">
    <hgroup class="mb20">
    <h1>Search Results</h1>
    <h2 class="lead"><strong class="text-danger"><%= @results.length %></strong> results were found for the search for <strong class="text-danger">eNexLearning</strong></h2>               
  </hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">
      <% @results.each do |result|%>
        <article class="search-result row">
          <div class="col-xs-12 col-sm-12 col-md-3">
            <a href="#" title="Lorem ipsum" class="thumbnail"><img src=<%="#{result.image if result.class.name == "Course"} #{result.course.image if result.class.name == "Chapter"} #{result.chapter.course.image if result.class.name == "Section"}"%> alt="Lorem ipsum" /></a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2">
            <ul class="meta-search">
              <li><i class="glyphicon glyphicon-tags"></i> <span><%="#{result.title if result.class.name == "Course"} #{result.course.title if result.class.name == "Chapter"} #{result.chapter.course.title if result.class.name == "Section"}" %></span></li>
              <li><i class="glyphicon glyphicon-time"></i> <span><%="#{result.modified_date if result.class.name == "Course"} #{result.course.modified_date  if result.class.name == "Chapter"} #{result.chapter.course.modified_date  if result.class.name == "Section"}"%></span></li>
              <li><i class="glyphicon glyphicon-user"></i> <span><%="#{result.instructor.first_name if result.class.name == "Course"} #{result.course.instructor.first_name  if result.class.name == "Chapter"} #{result.chapter.course.instructor.first_name  if result.class.name == "Section"}"%></span></li>
              <li><i class="glyphicon glyphicons-paperclip"></i> <small><%="#{result.subject.title if result.class.name == "Course"} #{result.course.subject.title  if result.class.name == "Chapter"} #{result.chapter.course.subject.title  if result.class.name == "Section"}"%></small></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
            <h3><%=link_to "#{result.class.name}: #{result.title}", %></a></h3>
            <p><%= "#{result.about if result.class.name == "Course"} #{result.body if result.class.name == "Chapter"} #{result.chapter.content if result.class.name == "Section"}" %></p>            
            <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
          </div>
          <span class="clearfix borda"></span>
        </article>
      <% end %>
  </section>
</div>