<%= form_for :course, url: create_course_path do |f|%>
  <%= f.text_field :title, placeholder: "title ..." %><br>
  <%= f.text_area :about, :class => "redactor", :rows => 100, :cols => 60 %><br><br>
  <div class="checkbox">
   <div>
      <%= f.label :instructor_ids, "Invite course instructor" %><br>
      <%= f.collection_select :instructor_tokens, @instructors.all.order(:first_name), :id, :first_name, {}, {multiple: true, id:"course_instructor_ids"} %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
