<h1><center><%= @course.title %></center></h1>
<p><%= @course.about.html_safe %></p>
  <% if current_user && current_user.role == "student" && !@course.learners.include?(current_user) %>
    <a class="btn btn-default" href="/course_registrations/new?course_id=<%= @course.id %>" role="button">Enroll</a>
  <% end %>
<h4>Instructors</h4>

<!-- instructor --> 
<ul>
  <% @course.instructors.each do |instructor| %>
    <li><%= instructor.first_name %> <%= instructor.last_name %></li>
  <% end %>
</ul>
<br>
<!-- course chapters -->
<% @chapters.each do |chapter| %>
  <a href="<%= course_chapter_path(@course, chapter) %>"><%= chapter.title %></a>
<% end %>
<hr>
<!-- link to the course chapters -->
<%= link_to "Add Chapter", new_course_chapter_path(@course), class: "btn btn-primary" if current_user && @course.instructors.include?(current_user) %>