<div id="wrapper">
<div class="overlay"></div>

<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
               <% if current_user %>
               <img src="<%= current_user.user_profile %>" alt="..." class="img-circle myProfile" ><br>
               <small style="color: white;"><%= current_user.first_name %> <%= current_user.last_name %></small>
               <% else %>
               <img src="http://res.cloudinary.com/nexpals/image/upload/v1498737192/Nex-Pals-logo3_iifsxy.jpg" alt="..." class="img-circle myProfile" ><br>
               eNexLearning
               <% end %>
            </a>
            
        </li>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to "My Account", edit_user_registration_path %>
        </li>
        <li>
            <a href="#">Events</a>
        </li>
        <li>
            <a href="#">Team</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Subjects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">List of Subject</li>
            <% Subject.all.each do |subject| %>
              <li><a href="/subjects/<%= subject.id%>"><%= subject.title %></a></li>
            <% end %>
          </ul>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <li>
            <a href="/course_registrations">My Courses</a>
        </li>
        <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
          </li>
        <% else %>
          <li>
          <%= link_to('Login', new_user_session_path)  %>  
          </li>
        <% end %>
    </ul>
</nav>
<script type="text/javascript"> 
    $(document).ready(function () {
      var trigger = $('.hamburger'),
          overlay = $('.overlay'),
         isClosed = false;

        trigger.click(function () {
          hamburger_cross();      
        });

        function hamburger_cross() {

          if (isClosed == true) {          
            overlay.hide();
            trigger.removeClass('is-open');
            trigger.addClass('is-closed');
            isClosed = false;
          } else {   
            overlay.show();
            trigger.removeClass('is-closed');
            trigger.addClass('is-open');
            isClosed = true;
          }
      }
      
      $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
      });  
    });
</script>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
