<!DOCTYPE html>
<html>
  <head>
    <title>ENexLearning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <% if current_page?(admin_dashboard_path) %>
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
        <%= yield %>
    <% else %>
    <body>
      <div id="page-content-wrapper">
        <%= render "layouts/sidebar" %>
        <%= render "layouts/topnav" %>
          <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        <button type="button" class="hamburger is-closed btn-circle btn-lg" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container-fluid">     
          <%= yield %>
        </div>
      </div>
    </body>
    <% end %>
</html>
